  
  #map {
    height: 520px;
    padding-bottom: 10px;
    width: auto;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /*#content-window{
    height:400px;
    width: auto;
  }*/
  #sample {
    height: 30px;
    width: 30px;
    left: -15px;
    position: relative;
    box-shadow: 0 2px 3px #181818;
    -webkit-box-shadow: 0 2px 3px #181818;
    -moz-box-shadow: 0 2px 3px #181818;
    border-top: 1px solid rgba(250,250,250,.3);
    margin-right: 5px;
    border-radius: 15px;
}
.bs-map{
    width: 15px;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    background-color: #F30E36;
    border-left-width: 5px;
    border-radius: 10px;
}
.bs-callout {
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
  .bs-callout-dvla {
    border-left-color: #0e9805;
    color: #c7254e;
    background-color: rgba(243, 211, 211, 0.93);
    /*border-left-color: #ce4844;
    border-right-color: #ce4844;*/
}

  .bs-callout-mag {
    border-left-color: rgb(255, 235, 59);
    color: #4caf50;
    background-color: #dff0d8;
}
  .bs-callout-cps {
    border-left-color: #337ab7;
    color: #4caf50;
    background-color: #dff0d8;
}

  .bs-callout-xh {
    border-left-color: #44efcf;
    color: #4caf50;
    background-color: #dff0d8;
    /*border-left-color: #ce4844;
    border-right-color: #ce4844;*/
}

  .bs-callout-ip {
    border-left-color: #2b8cc4;
    color: #4caf50;
    background-color: #dff0d8;
    /*border-left-color: #ce4844;
    border-right-color: #ce4844;*/
}
  .bs-callout-title {
    border-bottom-color: #1b809e;
    border-left-color: #1b809e;
    border-right-color: #1b809e;
}
.badge{
    background-color:#ffffff;
    color: #1b809e;
    float: right;
    font-size: 20px;
}
.topbar{
    margin-bottom: 5px;
    margin-top: 5px;
}

.statusColour {
    color: #c7254e;
    background-color: rgba(243, 211, 211, 0.93);
}

.el {
    padding:2px 4px;
    width: 50%;
    color: #4caf50;
    background-color: #ffffff;;
    border-radius: 4px;
    display: inline-block;
}
.ma {
    padding:2px 4px;
    width: 50%;
    color: #4caf50;
    background-color: #ffffff;;
    border-radius: 4px;
    display: inline-block;
}
.elem {
    padding:2px 4px;
    width: 50%;
    color: #c7254e;
    background-color: #ffffff;;
    border-radius: 4px;
    display: inline-block;
}

.thumbnail{
        margin-bottom: 10px;
        /*margin-top: 5px;
        width: 70%;*/
}

.logo{
    margin-bottom: 0px;
}
/*
active {
    padding: 2px 4px;
    font-size: 90%;
    color: #4caf50;
    background-color: #ffffff;
    border-radius: 4px;
}

inactive {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #ffffff;;
    border-radius: 4px;
}*/

#maintenance{
     display: inline-block;
}

/*visible {
    color: #468847;
    background-color: #dff0d8!important;
}shade of green ==rgb(203, 236, 203);
tables.less:88*/


     /*Set black background color, white text and some padding 
    footer {
      background-color: #555;
      color: white;
      padding-top: 10px;
   
    }*/