  
  #map {
    height: 400px;
    padding-bottom: 10px;
    width: auto;

  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #content-window{
    height:400px;
    width: auto;
  }
     /*Set black background color, white text and some padding 
    footer {
      background-color: #555;
      color: white;
      padding-top: 10px;
   
    }*/